
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">MODIFICAR REDES SOCIALES</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
          <form [formGroup]="redesSocialesForm" >

            <div class="elementoForm">
            <label for="linkFacebook">FACEBOOK: </label>
            <input id="linkFacebook" type="text" formControlName="linkFacebook"></div>
          
            <div class="elementoForm">
            <label for="linkInstagram">INSTAGRAM: </label>
            <input id="linkInstagram" type="text" formControlName="linkInstagram"></div>

            <div class="elementoForm">
            <label for="linkelin">LINKEDIN: </label>
            <input id="linkLinkelin" type="text" formControlName="linkLinkelin"></div>

            <!-- El atributo disasbled me permite deshabilitara el boton de enviar si no se cumplen las condiciones de las validaciones -->
            <button  class="btn btn-primary" data-bs-dismiss="modal" (click)="modificarRedes(0)">ENVIAR</button> 
          
          </form>
         


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
        </div>
      </div>
    </div>
  </div>



    