<!-- Columnas de bootstrap -->

<div class="container text-center">

    <h1> EXPERIENCIA LABORAL</h1>

    <div *ngIf="logIn">
      <app-formulario-educacion
                valorId=""
                nombreModal="CREAR EXPERIENCIA"
                nombreBoton="NUEVO"
                nombre="exp">
                
      </app-formulario-educacion>
  
      <button type="button" (click)="actualizarExperiencia()"class="btn btn-info">ACTUALIZAR</button>
    
    </div>
    
    <div class="row align-items-start"  *ngFor="let exp of experiencia">
             <hr> 
      <div class="col-md-3"> <!-- Con esta clase de bootstrap manejo el tamaño de las columnas -->
        {{exp.fechaInicio}}
        <br>
        {{exp.fechaFinalizacion}}


      </div>
      <div class="col">
        {{exp.descripcion}} 
      </div>
      <div class="col-md-2">
        {{exp.institucion}}
        <br>
        <img [src]=exp.linkLogo [alt]=exp.textoAlternativo>
          <div *ngIf="logIn">
            <app-formulario-educacion  
            valorId="{{exp.id}}"
            nombreModal="MODIFICAR EXPERIENCIA"
            nombreBoton="MODIFICAR"
            nombre="exp"
            valorDescripcion="{{exp.descripcion}}"
            valorInstitucion="{{exp.institucion}}"
            valorInicio="{{exp.fechaInicio}}"
            valorFinal="{{exp.fechaFinalizacion}}"
            valorLinkImagen="{{exp.linkLogo }}"
            valorAlternativo="{{exp.textoAlternativo}}"
            (onClick)="actualizarExperiencia()"
            >
           </app-formulario-educacion>   
           <button type="button" class="btn btn-dark" (click)="eliminarExperiencia(exp.id)">Eliminar</button>
          </div>
      </div>

    </div>
  
  </div>