
<div class="row container row-cols-1 row-cols-md-3 g-4" >
  <h1> SKILLS </h1>
    
  <div class="col" ><!--*ngFor="let skill of listaSkills"-->
    
    <div class="card text-center">

     <img [src]= "" class="card-img-top rounded mx-auto d-block">
       
      <div class="card-body">
        
        <h5>HTML</h5>

        <div class="progress"  role="progressbar" aria-label="Default striped example" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped" style="width: 50%"></div>
        </div>      

      </div>

    </div>

  </div>


</div>





