<!-- Este Formulario se utiliza para los componentes educacion y experiencia -->


<!-- Button trigger modal -->

<button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#form'+valorId+nombre">
    {{nombreBoton}}
  </button>


  <!-- Modal -->
  <div class="modal fade" [attr.id]="'form'+valorId+nombre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

      <div class="modal-content">

            <div class="modal-header">
             <h2 class="modal-title fs-5" id="exampleModalLabel">{{nombreModal}}</h2>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
       
       
           <div class="modal-body">

            <form [formGroup]="educYexpForm">


                <div>
                <label for="descripcion">DESCRIPCION </label>
                <input type= "text" formControlName="descripcion"></div>

                <div>
                <label for="fechaInicio">FECHA DE INICIO </label>
                <input id="fechaInicio" type="date" formControlName="fechaInicio">
                <label for="fechaFinalizacion">FECHA DE FINALIZACION </label>
                <input id="fechaFinalizacion" type="date" formControlName="fechaFinalizacion" placeholder="Si Corresponde"></div>
    
                <div>
                  <label for="institucion"> INSTITUCION </label>
                  <input id="institucion" type="text" formControlName="institucion"></div>
                
                <div>
                <label for="linkLogo">LOGO (LINK) </label>
                <input id="linkLogo" type="text" formControlName="linkLogo"></div>

                <div>
                <label for="textoAlternativo">TEXTO ALTERNATIVO</label>
                <input type="text" id="textoAlternativo"  formControlName="textoAlternativo" ></div>   
               

                <!-- El atributo disasbled me permite deshabilitara el boton de enviar si no se cumplen las condiciones de las validaciones -->
                <!-- Boton para confirmar la modificacion de educacion -->
                <button *ngIf="nombre==='edu'&& valorId!=''"
                type="submit" class="btn btn-primary" (click)="modificarEducacion(valorId)" [disabled]="!educYexpForm.valid" data-bs-dismiss="modal">GUARDAR MODIFICACION</button>


                <!-- Boton para confirmar la creacion de educacion -->
                <button *ngIf="nombre==='edu'&& valorId ===''"
                type="submit" class="btn btn-primary" (click)="crearEducacion()" [disabled]="!educYexpForm.valid" data-bs-dismiss="modal">CREAR</button>
                
                <!-- Boton para confirmar la modificacion de experiencia -->
                <button *ngIf="nombre==='exp' && valorId!=''"
                type="submit" class="btn btn-primary" (click)="modificarExperiencia(valorId)" [disabled]="!educYexpForm.valid" data-bs-dismiss="modal">GUARDAR MODIFICACION</button>
               
                <!-- Boton para confirmar la creacion de experiencia -->
                <button *ngIf="nombre==='exp'&& valorId ===''"
                type="submit" class="btn btn-primary" (click)="crearExperiencia()" [disabled]="!educYexpForm.valid" data-bs-dismiss="modal">CREAR</button>
              
             </form>
              
          
             </div>
      </div>
    </div>
  </div>