<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" [attr.data-bs-target]="'#form'+valorId+nombre" >
    {{nombreBoton}}
  </button>

  <div class="modal fade" [attr.id]="'form'+valorId+nombre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5" id="exampleModalLabel">{{nombreModal}}</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          
            
            <form [formGroup]="skillsForm">

                <div>
                <label for="habilidad">HABILIDAD </label>
                <input id="habilidad" type="text" formControlName="habilidad"></div>

                <div>
                <label for="porcentaje">PORCENETAJE </label>
                <input id="porcentaje" type="number" formControlName="porcentaje"></div>
              
                <div>
                <label for="otros">¿DESEA AGRGAR ALGO MAS? </label>
                <input id="otros" type="text" formControlName="otros"></div>
    

                    
                <button *ngIf="valorId!=''"
                type="submit" class="btn btn-primary" (click)="modificarskill(valorId)" [disabled]="!skillsForm.valid" data-bs-dismiss="modal">GUARDAR MODIFICACION</button>

                <button type="button" (click)="avisar()">boton</button>

                <!-- Boton para confirmar la modificacion de educacion -->
                <button *ngIf="valorId ===''"
                type="submit" class="btn btn-primary" (click)="crearSkill()" [disabled]="!skillsForm.valid" data-bs-dismiss="modal">CREAR</button>
              
              </form>













        </div>

      </div>
    </div>