<div id="contenedor">
   <div id="banner" >
      <!--style.background-image="url('{{miPortfolio.banner}}')"
          Aquí va el banner, traigo el background-image del css y lo coloco con style dentro de la etiqueta div-->
     
      
   </div>



   <div id="acerca"> 

      <div>
        <img id="foto" [src]="" alt="Imagen de perfil"> 
        <!-- miPortfolio.img
         acá se realizó un property binding -->

        <h2>Aca Va El Nombre</h2> <!-- acá se realizó un data binding -->
      </div>

      <div id="textoAcerca">
         <h1>ACERCA DE</h1>
         <p>
          Aca Va El acerca <!-- acá se realizó un data binding -->
         </p>

         <button 
         (click)="showLog()"
         *ngIf="logIn"
         >log</button>
       
      </div>
         
   </div>
</div>