<!-- Logos de la cabecera -->
<header>
<div id="logoINTI">
    <img id="aplogo" src="assets\imagenes\APLogo-20-20.png" alt="logo de Argentina Programa">
    <img id="intiLogo" src="assets\imagenes\LogosInti.png" alt="logos de inti y ministerio">

</div>



<div id="logoRedes">

    
     <a href="https://www.facebook.com/profile.php?id=100005297475613" target="_blank">
        <img src="assets\imagenes\facebook-logo.png" alt="logo de Facebook">
    </a>
    <a href="https://www.instagram.com/lucianay_vallejos/">
        <img src="assets\imagenes\logoInsta.com.png" alt="logo de Instagram">
    </a>
    <a href="https://www.linkedin.com/in/luciana-yamila-vallejos-281153105/">
        <img src="assets\imagenes\logoLinkedin.com.png" alt="logo de Linkedin">
    </a>
<app-login></app-login>


</div>
</header>


